Repository op-rs/maili, pull requests merged in 2025-02, with the labels that each got.

#132 fix(protocol): Remove old interop types and supervisor API
  crates/protocol/Cargo.toml
  crates/protocol/src/lib.rs
  crates/protocol/src/messages/events.rs
  crates/protocol/src/messages/mod.rs
  crates/protocol/src/messages/safety.rs
Labels: A-protocol, A-rpc

#10 feat(protocol): Operator Fee
  crates/genesis/src/genesis.rs
  crates/genesis/src/lib.rs
  crates/genesis/src/rollup.rs
  crates/genesis/src/system.rs
  crates/protocol/src/info/errors.rs
  crates/protocol/src/info/isthmus.rs
  crates/protocol/src/info/mod.rs
  crates/protocol/src/info/variant.rs
  crates/protocol/src/lib.rs
  crates/protocol/src/utils.rs
  crates/registry/etc/configs.json
  crates/registry/src/test_utils/base_mainnet.rs
  crates/registry/src/test_utils/base_sepolia.rs
  crates/registry/src/test_utils/op_mainnet.rs
  crates/registry/src/test_utils/op_sepolia.rs
Labels: A-protocol, C-feat

#188 chore(protocol): Channel Test Coverage
  crates/protocol/src/channel.rs
Labels: A-protocol, C-chore

#193 chore(genesis): Gas Config Update Test Coverage
  crates/genesis/src/updates/gas_config.rs
Labels: C-chore, A-genesis, H-isthmus

#196 chore(genesis): Operator Fee Update Tests
  crates/genesis/src/updates/operator_fee.rs
Labels: C-chore, A-genesis, H-isthmus

#202 chore(protocol): Single Batch Validation Tests
  crates/protocol/src/batch/single.rs
Labels: A-protocol, C-chore

#201 chore(protocol): SingleBatch Validation Tests
  crates/protocol/src/batch/single.rs
Labels: A-protocol, C-chore

#208 feat(genesis): Add optional interop message expiry window field
  crates/genesis/src/chain/config.rs
  crates/genesis/src/lib.rs
  crates/genesis/src/rollup.rs
  crates/registry/src/test_utils/base_mainnet.rs
  crates/registry/src/test_utils/base_sepolia.rs
  crates/registry/src/test_utils/op_mainnet.rs
  crates/registry/src/test_utils/op_sepolia.rs
Labels: C-feat, A-genesis, H-interop

#235 chore(protocol): Rejigger L1 Block Info Tx Calldata Parsing
  crates/protocol/src/info/bedrock.rs
  crates/protocol/src/info/ecotone.rs
  crates/protocol/src/info/errors.rs
  crates/protocol/src/info/interop.rs
  crates/protocol/src/info/isthmus.rs
  crates/protocol/src/info/variant.rs
Labels: A-protocol, C-chore, H-isthmus

#237 chore(protocol): Test Coverage over EIP-7702
  crates/protocol/src/batch/tx_data/eip7702.rs
Labels: A-protocol, C-chore, H-isthmus

#239 chore(protocol): Overlapped Tx
  crates/protocol/src/batch/span.rs
Labels: A-protocol, C-chore

#242 chore(rpc): Supervisor Api Fixes
  crates/interop/Cargo.toml
  crates/interop/src/lib.rs
  crates/interop/src/supervisor.rs
  crates/rpc/Cargo.toml
  crates/rpc/src/lib.rs
  crates/rpc/src/traits.rs
Labels: A-rpc, H-interop

#244 chore(rpc): Interop Feat Flag Cleanup - Unused Dependency Warning Fix
  crates/rpc/Cargo.toml
  crates/rpc/src/lib.rs
Labels: C-chore, A-rpc

#250 consecration
  README.md
Labels: C-port
